In [1]:
import gzip
import csv
import json
import pandas as pd

In [2]:
df = pd.read_csv('Processed_Data.csv.gz', compression='gzip', header=0,    sep=',', quotechar='"')

In [3]:
df.head()

,event_time,event_type,product_id,category_id,brand,price,user_id,user_session,Main_category_code,day,hour,day_of_week
0,2019-10-01 00:00:00,view,44600062,2103807459595387724,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,unknown,1,0,Tuesday
1,2019-10-01 00:00:00,view,3900821,2053013552326770905,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,appliances,1,0,Tuesday
2,2019-10-01 00:00:01,view,17200506,2053013559792632471,unknown,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,furniture,1,0,Tuesday
3,2019-10-01 00:00:01,view,1307067,2053013558920217191,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,computers,1,0,Tuesday
4,2019-10-01 00:00:04,view,1004237,2053013555631882655,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,electronics,1,0,Tuesday

In [4]:
df.columns.values

array(['event_time', 'event_type', 'product_id', 'category_id', 'brand',
       'price', 'user_id', 'user_session', 'Main_category_code', 'day',
       'hour', 'day_of_week'], dtype=object)

In [3]:
df.shape

(42448764, 12)

In [20]:
df2 = df.loc[15000000:20000000,['event_time', 'event_type', 'product_id', 'brand',
       'price', 'user_id', 'user_session', 'Main_category_code', 'day',
       'hour', 'day_of_week']]

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000001 entries, 20000000 to 25000000
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   event_time          object
 1   event_type          object
 2   product_id          int64
 3   brand               object
 4   price               float64
 5   user_id             int64
 6   user_session        object
 7   Main_category_code  object
 8   day                 int64
 9   hour                int64
 10  day_of_week         object
dtypes: float64(1), int64(4), object(6)
memory usage: 419.6+ MB

In [23]:
#inds = [5000000, 10000000, 15000000, 20000000, 25000000, 30000000, 35000000, 40000000]
strt = 0
while strt <= 40000000:
    df2 = df.loc[strt:strt+5000000,['event_time', 'event_type', 'product_id', 'brand',
       'price', 'user_id', 'user_session', 'Main_category_code', 'day',
       'hour', 'day_of_week']]
    df2.to_csv('dfp' + str(strt) + '.csv.gz', index=True, compression='gzip')
    
    strt += 5000000
    
    print(strt)

5000000
10000000
15000000
20000000
25000000
30000000
35000000
40000000
45000000

In [25]:
df2.tail()

,event_time,event_type,product_id,brand,price,user_id,user_session,Main_category_code,day,hour,day_of_week
42448759,2019-10-31 23:59:58,view,2300275,gopro,527.40,537931532,22c57267-da98-4f28-9a9c-18bb5b385193,electronics,31,23,Thursday
42448760,2019-10-31 23:59:58,view,10800172,redmond,61.75,527322328,5054190a-46cb-4211-a8f1-16fc1a060ed8,unknown,31,23,Thursday
42448761,2019-10-31 23:59:58,view,5701038,kenwood,128.70,566280422,05b6c62b-992f-4e8e-91f7-961bcb4719cd,auto,31,23,Thursday
42448762,2019-10-31 23:59:59,view,21407424,tissot,689.85,513118352,4c14bf2a-2820-4504-929d-046356a5a204,electronics,31,23,Thursday
42448763,2019-10-31 23:59:59,view,13300120,swisshome,155.73,525266378,6e57d2d7-6022-46e6-81d6-fa77f14cefd8,unknown,31,23,Thursday