In [1]:
import pandas as pd

# Data Pre-Processing

In [2]:
df = pd.read_csv('2019-Oct.csv')

In [3]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [4]:
len(df["category_id"].unique())

624

In [5]:
len(df["category_code"].unique())

127

In [6]:
df.shape

(42448764, 9)

In [7]:
df.columns.values

array(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype=object)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ GB

In [9]:
df["price"].describe()

count    4.244876e+07
mean     2.903237e+02
std      3.582692e+02
min      0.000000e+00
25%      6.598000e+01
50%      1.629300e+02
75%      3.585700e+02
max      2.574070e+03
Name: price, dtype: float64

In [10]:
categories = df["category_code"].str.split(".", expand=True)

In [11]:
categories.columns = ["Main_category_code", "category_code2", "category_code3", "category_code4"]

In [12]:
categories = categories["Main_category_code"]

In [13]:
df = pd.concat([df, categories], axis=1)

In [14]:
df.isna().sum()

event_time                   0
event_type                   0
product_id                   0
category_id                  0
category_code         13515609
brand                  6117080
price                        0
user_id                      0
user_session                 2
Main_category_code    13515609
dtype: int64

In [15]:
df.drop(["category_code"], axis=1, inplace=True)

In [16]:
df.fillna("unknown", inplace=True)

In [17]:
df.head()

,event_time,event_type,product_id,category_id,brand,price,user_id,user_session,Main_category_code
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,unknown
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,appliances
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,unknown,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,furniture
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,computers
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,electronics

In [18]:
df["event_time"] = df["event_time"].astype("datetime64")

In [19]:
df["day"] = df["event_time"].dt.day

In [20]:
df["hour"] = df["event_time"].dt.hour

In [21]:
df["day_of_week"] = df["event_time"].dt.day_name()

In [22]:
#dupl = df.duplicated()

In [23]:
#df.drop(dupl, axis=0, inplace=True)

In [24]:
df.to_csv('Processed_Data.csv.gz', index=False, compression='gzip')